<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login Conductor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Patente</ion-label>
        <ion-input [(ngModel)]="patente" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="contrasenia" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="iniciarSesion()">
        Iniciar Sesión
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
