<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicioconductor"></ion-back-button>
    </ion-buttons>
    <ion-title>Servicio Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Origen:</strong> {{ origen }}</p>
      <p><strong>Destino:</strong> {{ destino }}</p>
      <p><strong>Distancia:</strong> {{ distanciaEstimada }} km</p>
      <p><strong>Precio:</strong> ${{ precio }}</p>
      <ion-button (click)="mostrarRuta()" expand="full">Calcular Ruta</ion-button>
    </ion-card-content>
  </ion-card>

  <div id="map" style="height: 400px; width: 100%;"></div> <!-- Mapa para mostrar la ruta -->

  <ion-button expand="full" color="danger" (click)="cancelarViaje()">
    Cancelar Viaje
  </ion-button>
</ion-content>
