  ion-button {
    margin: 10px 0;
  }
  .contenedor-imagen {
    justify-content: center; 
    align-items: center;   
    display: flex;
  }
  
  img {
    max-width: 75%;   
    height: auto;      
  }