<ion-header>
  <ion-toolbar>
    <ion-title>Registro Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RUT</ion-label>
    <ion-input [(ngModel)]="rut" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Matrícula</ion-label>
    <ion-input [(ngModel)]="matricula" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tipo de Vehículo</ion-label>
    <ion-input [(ngModel)]="tipoVehiculo" type="text"></ion-input>
  </ion-item>

  <!-- Input de origen (fijo por defecto) -->
  <ion-item>
    <ion-label position="floating">Origen</ion-label>
    <ion-input [(ngModel)]="origen" type="text" disabled></ion-input>
  </ion-item>

  <!-- Input de destino -->
  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input [(ngModel)]="destino" type="text"></ion-input>
  </ion-item>

  <div id="map" style="height: 300px;"></div>

  <ion-button expand="full" (click)="confirmarRuta()">Confirmar Ruta</ion-button>
</ion-content>
